<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.groupproject.dao.ClientDao">
    <resultMap id="clientMap" type="Emp">
        <id property="clientId" column="clientId"></id>
        <result property="clientAccount" column="clientAccount"></result>
        <result property="clientPassword" column="clientPassword"></result>
        <result property="clientPhone" column="clientPhone"></result>
        <result property="clientName" column="clientName"></result>

    </resultMap>
    <!--    增删改查-->
    <select id="queryId" parameterType="int" resultType="Client">
        select * from tb_client c
        where c.clientId = #{clientId}
    </select>
    <!--    动态模糊查询-->
    <select id="queryCondition" parameterType="Client" resultType="Client">
        select * from tb_client c
        <where>
            <if test="clientId!=null and clientId!=''">
                and c.clientId = #{clientId}
            </if>
            <if test="clientAccount!=null and clientAccount!=''">
                and c.clientAccount = #{clientAccount}
            </if>
            <if test="clientPassword!=null and clientPassword!=''">
                and c.clientPassword = #{clientPassword}
            </if>
            <if test="clientPhone!=null and clientPhone!=''">
                and c.clientPhone = #{clientPhone}
            </if>
            <if test="clientName!=null and clientName!=''">
                and c.clientName like #{clientName}
            </if>
        </where>
    </select>
    <!--    添加-->
    <insert id="add" parameterType="Client">
        insert into tb_Client
        values(#{clientId},#{clientAccount},#{clientPassword},#{clientPhone},#{clientName})
    </insert>
    <!--    动态修改-->
    <update id="update" parameterType="Client">
        update tb_client c
        <set >
            <if test="clientAccount!=null and clientAccount!=''">
                c.clientAccount = #{clientAccount},
            </if>
            <if test="clientPassword!=null and clientPassword!=''">
                c.clientPassword = #{clientPassword},
            </if>
            <if test="clientName!=null and clientName!=''">
                c.clientName = #{clientName},
            </if>
        </set>
        where c.clientId = #{clientId}
    </update>
    <!--    删除-->
    <delete id="delete" parameterType="int">
        delete from tb_client c
        where c.clientId = #{clientId}
    </delete>
    <!--    联表查询-->
    <!--   查询本人房子 -->
    <select id="getHouseByClientId" resultType="House" parameterType="int">
        select h.* from tb_client c,tb_house h
        where c.clientId=h.clientId
          and c.clientId=#{clientId}
    </select>
    <!--    查询个人订单-->
    <select id="getOrderByClientId" resultType="Order" parameterType="int">
        select o.* from tb_client c,tb_order o
        where c.clientId=o.clientId
          and c.clientId=#{clientId}
    </select>
</mapper>