<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.groupproject.dao.HouseDao">
    <resultMap id="houseMap" type="House">
        <id property="houseId" column="houseId"></id>
        <result property="clientId" column="clientId"></result>
        <result property="empId" column="empId"></result>
        <result property="adminId" column="adminId"></result>
        <result property="houseType" column="houseType"></result>
        <result property="housePrice" column="housePrice"></result>
        <result property="houseArea" column="houseArea"></result>
        <result property="city" column="city"></result>
        <result property="address" column="address"></result>
        <result property="layoutType" column="layoutType"></result>
        <result property="cellName" column="cellName"></result>
        <result property="houseOrientation" column="houseOrientation"></result>
        <result property="imageId" column="imageId"></result>

        <association property="img" column="imageId" javaType="Img"
                     resultMap="com.example.groupproject.dao.ImgDao.imgMap"></association>
    </resultMap>


    <!-- 映射测试 -->
    <!-- 获取图片数据 -->
    <select id="getHouseImg" parameterType="int" resultMap="houseMap">
        select h.*, i.*
        from tb_house h,
             tb_img i
        where h.imageId = i.imgId
          and h.houseId = #{houseId}
    </select>

    <!-- 添加数据 -->
    <insert id="add" parameterType="House">
        insert into tb_house
        values (#{houseId}, #{clientId}, #{empId}, #{adminId}, #{houseType},
                #{housePrice}, #{houseArea}, #{city}, #{address}, #{layoutType},
                #{cellName}, #{houseOrientation}, #{imageId})
    </insert>

    <!-- 删除数据 -->
    <delete id="delete" parameterType="int">
        delete
        from tb_house
        where houseId = #{houseId}
    </delete>

    <!-- 动态更新 -->
    <update id="update" parameterType="House">
        update tb_house h
        <set>
            <if test="clientId!=null">
                h.clientId=#{clientId},
            </if>
            <if test="empId!=null">
                h.empId=#{empId},
            </if>
            <if test="adminId!=null">
                h.adminId=#{adminId},
            </if>
            <if test="houseType!=null and houseType!=''">
                h.houseType=#{houseType},
            </if>
            <if test="housePrice!=null">
                h.housePrice=#{housePrice},
            </if>
            <if test="houseArea!=null">
                h.houseArea=#{houseArea},
            </if>
            <if test="city!=null and city!=''">
                h.city=#{city},
            </if>
            <if test="address!=null and address!=''">
                h.address=#{address},
            </if>
            <if test="layoutType!=null and layoutType!=''">
                h.layoutType=#{layoutType},
            </if>
            <if test="cellName!=null and cellName!=''">
                h.cellName=#{cellName},
            </if>
            <if test="houseOrientation!=null and houseOrientation!=''">
                h.houseOrientation=#{houseOrientation},
            </if>
            <if test="imageId!=null">
                h.imageId=#{imageId},
            </if>
        </set>
        where h.houseId=#{houseId}
    </update>

    <!-- 动态模糊查询 -->
    <select id="queryCondition" parameterType="House" resultMap="houseMap">
        select * from tb_house h
        <where>
            <if test="houseId!=null">
                and h.houseId=#{houseId}
            </if>
            <if test="clientId!=null">
                and h.clientId=#{clientId}
            </if>
            <if test="empId!=null">
                and h.empId=#{empId}
            </if>
            <if test="adminId!=null">
                and h.adminId=#{adminId}
            </if>
            <if test="houseType!=null and houseType!=''">
                and h.houseType=#{houseType}
            </if>
            <if test="housePrice!=null">
                and h.housePrice = #{housePrice}
            </if>
            <if test="houseArea!=null">
                and h.houseArea like
                concat('%',#{house.houseArea},'%')
            </if>
            <if test="city!=null and city!=''">
                and h.city=#{city}
            </if>
            <if test="address!=null and address!=''">
                and h.address like
                    concat('%',#{house.address},'%')
            </if>
            <if test="layoutType!=null and layoutType!=''">
                and h.layoutType=#{layoutType}
            </if>
            <if test="cellName!=null and cellName!=''">
                and h.cellName=#{cellName}
            </if>
            <if test="houseOrientation!=null and houseOrientation!=''">
                and h.houseOrientation=#{houseOrientation}
            </if>
        </where>
    </select>

    <!-- 面积范围查询 -->
    <select id="queryByArea" parameterType="int" resultMap="houseMap">
        select *
        from tb_house h
        where h.houseArea between #{minHouseArea} and #{maxHouseArea}
    </select>

    <!-- id查询 -->
    <select id="queryById" parameterType="int" resultMap="houseMap">
        select *
        from tb_house h
        where h.houseId = #{houseId}
    </select>

    <!-- 价格区间查询 -->
    <select id="queryByPrice" parameterType="double" resultMap="houseMap">
        select *
        from tb_house h
        where h.housePrice between #{minPrice} and #{maxPrice}
    </select>

    <!-- 分页查询 -->
    <select id="queryByPage" resultMap="houseMap">
        select * from tb_house
        <where>
            <if test="house.houseId!=null">
                and h.houseId=#{house.houseId}
            </if>
            <if test="house.clientId!=null">
                and h.clientId=#{house.clientId}
            </if>
            <if test="house.empId!=null">
                and h.empId=#{house.empId}
            </if>
            <if test="house.adminId!=null">
                and h.adminId=#{house.adminId}
            </if>
            <if test="house.houseType!=null and house.houseType!=''">
                and h.houseType=#{house.houseType}
            </if>
            <if test="house.housePrice!=null">
                and h.housePrice=#{house.housePrice}
            </if>
            <if test="house.houseArea!=null">
                and h.houseArea like
                concat('%',#{house.houseArea},'%')
            </if>
            <if test="house.city!=null and house.city!=''">
                and h.city=#{house.city}
            </if>
            <if test="house.address!=null and house.address!=''">
                and h.address like
                concat('%',#{house.address},'%')
            </if>
            <if test="house.layoutType!=null and house.layoutType!=''">
                and h.layoutType=#{house.layoutType}
            </if>
            <if test="house.cellName!=null and house.cellName!=''">
                and h.cellName=#{house.cellName}
            </if>
            <if test="house.houseOrientation!=null and house.houseOrientation!=''">
                and h.houseOrientation=#{house.houseOrientation}
            </if>
        </where>
        <if test="pageStart!=null and pageSize!=null">
            limit #{pageStart},#{pageSize}
        </if>
    </select>

    <!-- 查询数据总数 -->
    <select id="queryCount" resultType="int">
        select count(*)
        from tb_house;
    </select>

</mapper>